<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>opulens. Financial Budgeting</title>
    {% load static %}
    <link rel="icon" href="https://i.ibb.co/ZL40qp9/opulens-favicon-32x.png" type="image/png">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/css.css' %}">
</head>
<body>
    <div class="body">
    <header id = "main-header">
         <div id="logo-container">
            <a href="/opulens">
            <img src="https://i.ibb.co/zQkkDFT/opulens-white-1024px.webp" alt="opulens. logo">
            </a>
        </div>
        <nav>
            <ul>
                <li><a href="/dashboard">Dashboard</a></li>
                <li><a href="/budgetracking">Budget Tracking</a></li>
                <li><a href="/datavisualisation">Data Visualisation</a></li>
                <li><a href="/reportsinsights">Reports & Insights</a></li>
                <li><a href="/register" id= "sign-in-button" class="sign-in">Sign in</a></li>
            </ul>
        </nav>
    </header>
    <body>
        <div class="form-container">
            <a href="/opulens" class="back-arrow">← Back</a>
            <h2>Log in</h2>
            <form method="post" action="{% url 'login' %}">  <!-- Ensure this points to your login URL -->
                {% csrf_token %}
                <div>
                    <label for="username_or_email">Username or Email:</label>
                    <input type="text" id="username_or_email" name="username_or_email" placeholder="Enter username or email" required>
                </div>
                <div>
                    <label for="password">Password:</label>
                    <input type="password" id="password" name="password" placeholder="Enter password" required>
                </div>
                <button type="submit">Log in</button>
            </form>
            
    </div>
        <div class="zero">
            <div class="buttons">
                <a href="/opulens" id="go-back-button">Go Back.</a>
            </div>
        </div>
    </div>
    <footer class="footer">
        <div class="footer-content">
            <p>&copy; 2024 opulens. All rights reserved.</p>
            <div class="footer-links">
                <a href="/privacy">Privacy Policy</a>
                <a href="/terms">Terms of Service</a>
                <a href="/contact">Contact Us</a>
            </div>
        </div>
    </footer>
</body>
</html>