<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>opulens. Financial Budgeting</title>
    {% load static %}
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/css.css' %}">
</head>
<body>
    <div class="body">
    <header id = "main-header">
         <div id="logo-container">
            <a href="opulens.html">
            <img src="https://i.ibb.co/z2Z7FyS/opulens-black-512px.webp" alt="opulens. logo">
            </a>
        </div>
        <nav>
            <ul>
                <li><a href="dashboard.html">Dashboard</a></li>
                <li><a href="budgetracking.html">Budget Tracking</a></li>
                <li><a href="datavisualisation.html">Data Visualisation</a></li>
                <li><a href="reportsinsights.html">Reports & Insights</a></li>
                <li><a href="signin.html" id= "sign-in-button" class="sign-in">Sign in</a></li>
            </ul>
        </nav>
    </header>
    <body>
        <div class="form-container">
            <a href="opulens.html" class="back-arrow">← Back</a>
            <h2>Register</h2>
            <form method="post" action="/register/">
                {% csrf_token %}
                <!-- Username Field -->
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" placeholder="Enter username" required>
    
                <!-- Email Field -->
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" placeholder="Enter email" required>
    
                <!-- Password Field -->
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" placeholder="Enter password" required>
    
                <!-- Confirm Password Field -->
                <label for="confirm_password">Confirm Password:</label>
                <input type="password" id="confirm_password" name="confirm_password" placeholder="Confirm password" required>
    
                <!-- Submit Button -->
                <button type="submit">Register</button>
            </form>
    </div>

    <footer class="footer">
        <div class="footer-content">
            <p>&copy; 2021 opulens. All rights reserved.</p>
            <div class="footer-links">
                <a href="privacy.html">Privacy Policy</a>
                <a href="terms.html">Terms of Service</a>
                <a href="contact.html">Contact Us</a>
            </div>
        </div>
    </footer>
</body>
</html>